{{>navbar}}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header p-4">
            <h3 class="modal-title text-primary font-weight-bold">Welcome to {{{title}}}</h3>
        </div>
        <div class="form-group">
            <h5>A light & secure web3 contact repository</h5>
            <br><br>
            <article>
                <p>
                Hello fellow internet traveller. This small website is intended to be a short introduction to the web3 concepts necessary for blockchain-related web development, as well as a nice interface for storing profiles, personal information and contacts in a safe way.
                </p>
                <button class="btn btn-secondary btn-sm"><a href="/auth/signup" style="color:white">Get started</a></button>

            </article>
        </div>
    </div>
</div>