<form action="/contacts/contact-avatar-edit/{{contact._id}}" method="post" class="create-contact-form"
  enctype="multipart/form-data"></form>

<div class="form-item-wrapper flexed-item">
  <label for="contact-img" class="label-price label">Avatar</label>
  <input id="contact-img" type="file" name="avatar" class="input-text input">
</div>
<button class="button-primary add-sneaker-btn">Update avatar</button>
</form>