{{>navbar}}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header p-4">
            <h5 class="modal-title text-primary font-weight-bold">Create new contact</h5>
        </div>
        <form action="/contact-create" method="post" class="create-contact-form" enctype="multipart/form-data">
        {{!-- <form action="/contact-create" method="post" class="create-contact-form"> --}}
            <div class="modal-body">
                <div class="form-group">
                    <label for="contact-firstName">First name</label>
                    <input id="contact-firstName" type="text" name="firstName" class="form-control" placeholder="Steve">
                </div>

                <div class="form-group">
                    <label for="contact-lastName">Last name</label>
                    <input id="contact-lastName" type="text" name="lastName" class="form-control" placeholder="Wozniak">
                </div>

                <div id="emails">
                    <div id="fieldEmail" class="form-group">
                        <label for="contact-email">Email</label>
                        <input id="contact-email" type="text" name="secondaryEmails" class="form-control" placeholder="steve.wozniak@apple.com">
                        <div id="btn-add-email" class="btn btn-secondary btn-sm">Add another email</div>                    
                        <span id="btn-delete-email" class="btn btn-secondary btn-sm">Delete</span>
                    </div>
                </div>
                <div id="phone-numbers">
                    <div id="fieldPhoneNumber" class="form-group">
                        <label for="contact-phone">Phone number</label>
                        <input id="contact-phone" type="text" name="phoneNumbers" class="form-control">
                        <div id="btn-add-number" class="btn btn-secondary btn-sm">Add another phone number</div>
                        <span id="btn-delete-number" class="btn btn-secondary btn-sm" >Delete</span>
                    </div>
                </div>

                <div id="ethAddresses">
                    <div class="form-group">
                        <label for="contact-ethereumAddresses">Ethereum address</label>
                        <input id="contact-ethereumAddresses" type="text" name="ethAddresses" class="form-control">
                        <div id="btn-add-ethAddress" class="btn btn-secondary btn-sm">Add another ethereum address</div>
                        <span id="btn-delete-ethAddress" class="btn btn-secondary btn-sm">Delete</span>
                    </div>
                </div>

                <div>Postal Address</div>
                    <div id="postalAddresses">
                            <div class="form-group">
                                <label for="address-streetName">Street name</label>
                                <input id="address-streetName" type="text" name="streetName" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address-streetNumber">Street number</label>
                                <input id="address-streetNumber" type="number" min="1" name="streetNumber" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address-special">Special (bis, ter...)</label>
                                <input id="address-special" type="text" name="special" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address-postCode">Post code</label>
                                <input id="address-postCode" type="number" name="postCode" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address-city">City</label>
                                <input id="address-city" type="text" name="city" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="address-country">Country</label>
                                <input id="address-country" type="text" name="country" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="label">Is it the principal residency ?</label>
                                    <label for="is-principalResidency">Yes</label>
                                    <input id="is-principalResidency" type="radio" name="principalResidency" value="Yes">
                                    <label for="is-not-principalResidency">No</label>
                                    <input id="is-not-principalResidency" type="radio" name="principalResidency" value="No" checked>
                            </div>
                            <span id="btn-delete-postalAddress" class="btn btn-secondary btn-sm">Delete</span>
                            <hr>
                        </div>
                    </div>
                    <div id="btn-add-postalAddress" class="btn btn-secondary btn-sm">Add another postal address</div>

                <div><br><br>Social Accounts</div>
                <div class="form-group">
                    <label for="socialAccounts-googleId">Google ID</label>
                    <input id="socialAccounts-googleId" type="text" name="googleId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="socialAccounts-twitterId">Twitter ID</label>
                    <input id="socialAccounts-twitterId" type="text" name="twitterId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="socialAccounts-facebookId">Facebook ID</label>
                    <input id="socialAccounts-facebookId" type="text" name="facebookId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="socialAccounts-githubId">Github ID</label>
                    <input id="socialAccounts-githubId" type="text" name="githubId" class="form-control">
                </div>

                <div class="form-group">
                    <label for="contact-img" class="label-price label">Avatar</label>
                    <input id="contact-img" type="file" name="avatar" class="form-control">
                </div>

                <button class="btn btn-secondary btn-sm">Add to contacts</button>
            </div>
        </form>
    </div>
</div>