<div class="big-container manage-products-wrapper">

  <h3 class="manage-products-title">Manage your contacts</h3>
  
  <table class="product-manage-table">
    <thead>
      <tr class="table-row">
        <th class="table-head">Contact's avatar</th>
        <th class="table-head">First Name</th>
        <th class="table-head">Last name</th>
        <th class="table-head">Edit</th>
        <th class="table-head">Delete</th>
      </tr>
    </thead>

    <tbody>
      {{#each user.contacts}}
      <tr class="table-row">
        {{> contactRow}}
      </tr>
      {{/each}}

      {{#unless contacts}}
      <tr>
        <td colspan="6">sorry no contacts yet</td>
      </tr>
      {{/unless}}
      
    </tbody>
  </table>
  
</div>